<p id="notice"><%= notice %></p>

<p>
  <strong>Starttime:</strong>
  <%= @vacation.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @vacation.endtime %>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
